@font-face {
  font-family: "Clear Sans";
  src: url("../clear-sans.ttf") format("truetype");
}
.navbar {
  height: 4rem;
  width: 100vw;
  position: absolute;
  z-index: 1;
}

.navbar-items-container {
  height: 100%;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  background-color: #57407c;
  box-shadow: rgba(0,0,0,.5) 0px 1px 15px;
  display: flex;
  text-align: center;
  align-items: center;
}

.navbar-items-container a {
  text-decoration: none;
  padding: 15px;
  color: #fff;
  margin-right: 0.7rem;
  border-radius: 10px;
  font-family: "Clear Sans", sans-serif;
  font-weight: 800;
}
